<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.mapper.ProgramInfoManageMapper">	
  
  <select id="selectProgramInfoManagerInfoManageListByPagination" resultType="ProgramInfoVO">
      SELECT  X.* FROM ( SELECT rownum RNUM, SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
		    SELECT a.PROG_CODE, a.PROG_TITLE, a.FILE_INFO, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID,
                   a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID, PROG_OSTYPE
			  FROM TB_PROGRAMUPDATEINFO a, LETTCCMMNDETAILCODE b       
		      WHERE a.PROG_OSTYPE = b.CODE          		                            	            
		        <if test="searchKeyword != ''">
					AND a.PROG_TITLE = #{searchKeyword}
				</if>
				ORDER BY a.PROG_CODE  DESC
	        ) TB ) X WHERE RNUM  BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}  
  </select>
  <select id="selectProgramDetailInfoManagerInfo" resultType="ProgramInfoVO">
      SELECT a.PROG_CODE, a.PROG_TITLE, a.FILE_INFO, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID,
                   a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID, PROG_OSTYPE, b.CODE_NM
      FROM TB_PROGRAMUPDATEINFO a, LETTCCMMNDETAILCODE b 
      WHERE PROG_CODE = #{progCode}
            AND a.PROG_OSTYPE = b.CODE
  </select>
  <insert id="insertProgramInfo">
     INSERT INTO TB_PROGRAMUPDATEINFO(PROG_CODE, PROG_TITLE, FILE_INFO, FRST_REGIST_PNTTM, FRST_REGISTER_ID
                                      LAST_UPDT_PNTTM, LAST_UPDUSR_ID, PROG_OSTYPE)
     values (#{progCode}, #{progTitle}, #{fileInfo}, sysdate, #{userId},
             sysdate, #{userId} , #{progOstype})
  </insert>
  <update id="updateProgramInfo">
      UPDATE TB_PROGRAMUPDATEINFO SET PROG_TITLE = #{progTitle},
                                      <if test="fileInfo != ''">
                                      FILE_INFO = #{fileInfo},
                                      </if>
                                      LAST_UPDT_PNTTM = sysdate,
                                      LAST_UPDUSR_ID = #{userId},
                                      PROG_OSTYPE =  #{progOstype}
      WHERE  PROG_CODE = #{progCode}
  </update>
  <delete id="deleteProgramInfo">
      DELETE FROM TB_PROGRAMUPDATEINFO WHERE  PROG_CODE = #{progCode}
  </delete>

</mapper>