<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.sohoki.mapper.ProgrameInfoManageMapper">

	<select id="selectProgramPageListInfo" resultType="ProgrameInfoVO">  

	   
	   SELECT * FROM ( SELECT rownum RNUM, SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
	     SELECT a.PROG_CODE, a.PROG_TITLE, a.FILE_INFO, a.PROG_OSTYPE , PROG_REMARK,
             a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID, a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
             FN_DETAILCODENM(a.PROG_OSTYPE) progOstypeTxt
         FROM TB_PROGRAMUPDATEINFO a 
         WHERE 1=1
	           <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'progTitle'">
								and PROG_TITLE LIKE '%'|| #{searchKeyword} || '%'
							</when>
							<otherwise>
								and PROG_REMARK LIKE '%'|| #{searchKeyword} || '%'
							</otherwise>
						</choose>
				</if>	
				<if test="searchProgOstype != ''">
				    and a.PROG_OSTYPE =  #{searchProgOstype}
				</if>
           order by a.PROG_CODE desc
	   ) TB ) WHERE RNUM  BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
	   
	</select>
	
	<select id="selectProgramComboInfo" resultType="ProgrameInfoVO">  
	     SELECT a.PROG_CODE, a.PROG_TITLE, a.FILE_INFO, a.PROG_OSTYPE , PROG_REMARK,
             a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID, a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
             FN_DETAILCODENM(a.PROG_OSTYPE) progOstypeTxt
         FROM TB_PROGRAMUPDATEINFO a 
         WHERE 1=1
	           <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'progTitle'">
								and PROG_TITLE LIKE '%'|| #{searchKeyword} || '%'
							</when>
							<otherwise>
								and PROG_REMARK LIKE '%'|| #{searchKeyword} || '%'
							</otherwise>
						</choose>
				</if>	
				<if test="searchProgOstype != ''">
				    and a.PROG_OSTYPE =  #{searchProgOstype}
				</if>
           order by a.PROG_CODE desc	   
	</select>
	
	
	<select id="selectProgramPageInfoDetail" resultType="ProgrameInfoVO">  
	   SELECT PROG_CODE, PROG_TITLE, FILE_INFO, PROG_OSTYPE ,
              FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID,
              FN_DETAILCODENM(PROG_OSTYPE) progOstypeTxt , PROG_REMARK
	   FROM TB_PROGRAMUPDATEINFO 
	   WHERE PROG_CODE = #{progCode}
	</select>
    <insert id="insertProgrameInfo" >
       INSERT INTO TB_PROGRAMUPDATEINFO (PROG_CODE, PROG_TITLE, FILE_INFO, PROG_OSTYPE,
                                        FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID, PROG_REMARK)
       VALUES (#{progCode}, #{progTitle}, #{fileInfo, jdbcType=VARCHAR}, #{progOstype, jdbcType=VARCHAR},  
               sysdate, #{userId}, sysdate, #{userId}, #{progRemark, jdbcType=VARCHAR})
    </insert>
    <update id="updateProgrameInfo">
       UPDATE TB_PROGRAMUPDATEINFO set PROG_TITLE = #{progTitle}, FILE_INFO = #{fileInfo},
                                       PROG_OSTYPE = #{progOstype}, LAST_UPDT_PNTTM = sysdate,
                                       PROG_REMARK = #{progRemark, jdbcType=VARCHAR},
                                       LAST_UPDUSR_ID = #{userId}
       WHERE PROG_CODE = #{progCode}
    </update>
    <delete id="deleteProgrameInfo">
      DELETE FROM TB_PROGRAMUPDATEINFO WHERE PROG_CODE = #{progCode}
    </delete>

</mapper>